<div class="day" id="1st">
	<h3>
		1st DAY (9/1 Thu.)
	</h3>
	<div class="programs">
		<div class="program private">
			<span class="time">
				13:20~17:00
			</span>
			<p>
				前夜祭
			</p>
			<p>
				※生徒以外の方の入場・参加はできません。
			</p>
		</div>
	</div>
</div>
<div class="day" id="2nd">
	<h3>
		2nd DAY (9/2 Fri.)
	</h3>
	<div class="programs">
		<div class="program publuc">
			<span class="time">
				8:30~18:30
			</span>
			<p>
				舞台発表
			</p>
			<p>
				※入校証をお持ちの方（生徒の保護者の方）、本校池田校舎および平野校舎・大教大附属天王寺中学校の生徒の方も入場していただけます。<br>
				詳細は<a href="./information.html">一般の方へのご案内</a>をご覧ください。
			</p>
		</div>
	</div>
</div>
<div class="day" id="3rd">
	<h3>
		3rd DAY (9/3 Sat.)
	</h3>
	<div class="programs">
		<div class="program public">
			<span class="time">
				10:00~15:00
			</span>
			<p>
				模擬店・デコレーション企画
			</p>
			<p>
				※チケット（生徒を通じて配布）・入校証をお持ちの方、本校池田校舎および平野校舎・大教大附属天王寺中学校の生徒の方、卒業生の方、教育実習生の方、学校ウェブサイトから申し込みをした方も入場していただけます。<br>
				詳細は<a href="./information.html">一般の方へのご案内</a>をご覧ください。
			</p>
		</div>
		<div class="program private">
			<span class="time">
				16:30~18:30
			</span>
			<p>
				後夜祭
			</p>
			<p>
				※生徒以外の方の入場・参加はできません。
			</p>
		</div>
	</div>
</div>