/* 各種設定・ファイル読み込み等 */

@font-face {
	font-family: "NSRe";
	src: url("../fonts/NSRe.otf");
}

@font-face {
	font-family: "Boku2";
	src: url('../fonts/Boku2.otf');
}

/* 全デバイス共通部分 */

* {
 font-family: "NSRe";
}

html {
	height: 100%;
}

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#header {
	height: 60px;
	width: 100%;
	margin: 0;
	border: 0;
	position: fixed;
	background-color: #fff;
	box-shadow: 0px 5px 10px #fff;
}

img#head1 {
	height: 50px;
	width: auto;
	margin: 5px;
}

a.head1 {
	height: 100%;
}

ul.menu {
	padding-top: 65px;
}

ul.menu li {
	list-style-type: none;
	padding: 10px 30px 5px 10px;
	text-align: right;
}

ul.menu li a {
	text-decoration: none;
	color: #ea5549;
	font-size: 20px;
}

div#wrap {
	/*height: 100%;*/
	background-color: rgba(255, 255, 255, 0.6);
}

div#maincontents {
	padding: 65px 10px 10px 10px; 
}

div#heading {
	text-align: center;
}

h1 {
	margin: 0;
}

h1.sub {
	height: 60px;
	margin: 0px;
	float: left;
}

h2 {
	font-family: "Boku2";
	font-size: 30px;
	color: #ea5549;
	text-shadow: 1.5px 1.5px 1px #fff;
}

h3 {
	margin: 15px 0px;
	font-style: italic;
	color: #ea5549;
	/*color: #0f0;*/
	/*text-shadow: 1.5px 1.5px 1px #32cd32;*/
}

img#emblem {
	width: 100%;
	height: auto;
	margin: auto;
}

div.countdown, div.countdown span {
	font-size: 45px;
	color: #ea5549;
}

div.day {
	margin-bottom: 50px;
}

.program {
	margin-bottom: 20px;
}

.private {
	color: #555;
}

.program_name {
	font-weight: bold;
	font-size: 25px;
	margin: 5px 0px;
}

div.public .program_name {
	color: #ed6d35;
	text-shadow: 
				2px 2px 2px #fff,
				2px -2px 2px #fff,
				-2px 2px 2px #fff,
				-2px -2px 2px #fff;
}

div#access ul li {
	list-style-type: circle;
}

div#footer {
	/*position: absolute;*/
	height: 16px;
	text-align: center;
	font-size: 12px;
}

div#footer a {
	color: #000;
}


.mainlogo {
	float: left;
}

.navmain {
	float: right;
}

.navmain ul {
	float: left;
	height: 60px;
	margin: 0;
}
.navmain ul li {
	list-style-type: none;
	float: left;
	padding: 14.5px 10px 14.5px 10px;
	font-size: 20px;
}

.navmain ul li a {
	text-decoration: none;
	color: #000;
}

input[type="checkbox"].on-off + div{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + div{
    height: 200px;
}

/* PCのみ */
@media screen and (min-width: 768px) {
	#maincontents {
		width: 80%;
		margin: auto;
	}

	img#head-top {
		width: 600px;
	}
}

@media screen and (min-width: 400px) {
	img#head-top {
		width: 400px;
	}

	.down {
		position: absolute;
		bottom: 20px;
	}

	.navmobile {
		display: none !important;
	}
}

/* モバイルのみ */
@media screen and (max-width: 768px) {
	.mainnav {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	img#head-top {
		width: 100%;
	}
}